<!DOCTYPE html>
<html>
  <head>
    <title>Node Mailer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script src="/javascripts/sweetalert.min.js"></script>
  </head>
  <body>
    <h1>NodeMailer</h1>
    <p></p>
    <form id="myForm">
      <div class="form-group">
        <label for="email">Send to:</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Enter email" required>
        <label for="cc">Cc:</label>
        <input type="text" class="form-control" id="cc" name="cc" placeholder="abc@example.com, xyz@example.com">
        <label for="cc">Bcc:</label>
        <input type="text" class="form-control" id="bcc" name="bcc" placeholder="abc@example.com, xyz@example.com">
        <label for="cc">Subject:</label>
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter subject" required>
      </div>
      <label class="radio-inline"><input type="radio" id="type" name="type" value="raw" checked>Raw text</label>
      <!-- <label class="radio-inline"><input type="radio" name="type" value="html">HTML</label> -->
      <br>
      <label for="content">Content:</label>
      <textarea class="form-control" rows="5" id="content" name="content" required></textarea>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </body>

  <script>
    $("#myForm").submit(function (e) {
      e.preventDefault();
      $.post("/", {
          email: $("#email").val(),
          cc: $("#cc").val(),
          bcc: $("#bcc").val(),
          subject: $("#subject").val(),
          type: $("#type").val(),
          content: $("#content").val()
        },
        function(message, status) {
          console.log(message);
          if (message.toString().includes("OK")) {
            alert("Success");
          }
        });
    });
  </script>
</html>
